{% with url_name=request.resolver_match.url_name %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'home' %}">Doctor Web</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if url_name == "home" %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == "author_list" %}active{% endif %}"
               href="{% url 'author_list' %}">Authors</a>
          </li>
        </ul>
        <form method="GET" action="{% url 'author_list' %}" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search author" aria-label="Search" name="q"
                 value={{ request.GET.q }}>
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

{% endwith %}